body{
    background-color: rgb(69, 69, 69);
    overflow: hidden;
}

#container{
    width: 300px;
    margin: 5% auto;
    padding: 3% 2% 1%  2%;
    background-color: darkgray;
}

#title{
    float:left;
}

#searchByID{
    float: right;
    width: 50%;
}

#idSearch{
    width: 50%;
}

#tabs{
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}

.tab{
    background-color: white;
    border: 1px black solid;
}

.active{
    background-color: rgb(35, 35, 35);
}

.inactive{
    display:none;
}

#favoritesList{
    height: 375px;
}